@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudStack Spacing="4">
    <MudPaper Class="pa-6">
        <MudText Typo="Typo.h3" GutterBottom="true">MuddyFileExplorer</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            MuddyFileExplorer is a compact MudBlazor-based file explorer component for browsing, uploading,
            renaming, moving, and deleting files through a host-provided backend.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            This sample application exists to show a few practical layout patterns so we can test the component
            both as a full-page workspace and as a regular block inside longer content pages.
        </MudText>
        <MudLink Href="https://github.com/andulv/MuddyFileExplorer" Target="_blank">
            View the project on GitHub
        </MudLink>
    </MudPaper>

    <MudGrid Spacing="3">
        <MudItem xs="12" md="6">
            <MudPaper Class="pa-6 mud-height-full">
                <MudText Typo="Typo.h5" GutterBottom="true">Quick Setup</MudText>
                <MudText Typo="Typo.body2" GutterBottom="true">
                    Register MudBlazor services in the host application.
                </MudText>
                <div class="home-code-block">
                    <pre><code>builder.Services.AddMudServices();</code></pre>
                </div>
                <MudText Typo="Typo.body2" Class="mt-4" GutterBottom="true">
                    Include the providers in your layout or page host.
                </MudText>
                <div class="home-code-block">
                    <pre><code>&lt;MudThemeProvider /&gt;
&lt;MudPopoverProvider /&gt;
&lt;MudDialogProvider /&gt;
&lt;MudSnackbarProvider /&gt;</code></pre>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper Class="pa-6 mud-height-full">
                <MudText Typo="Typo.h5" GutterBottom="true">Component Usage</MudText>
                <MudText Typo="Typo.body2" GutterBottom="true">
                    Render the explorer with an <code>IFileExplorerProvider</code> implementation.
                </MudText>
                <div class="home-code-block">
                    <pre><code>@@using MuddyFileExplorer
@@using MuddyFileExplorer.Components

&lt;MuddyFileExplorer Provider="@@FileProvider"
                   Dense="true"
                   MultiSelection="true"
                   MaxUploadFileSize="104857600" /&gt;</code></pre>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>

    <MudPaper Class="pa-6">
        <MudText Typo="Typo.h5" GutterBottom="true">Sample Pages</MudText>
        <MudText Typo="Typo.body2" GutterBottom="true">
            Use these pages to compare how the component behaves in different layout scenarios.
        </MudText>

        <MudStack Spacing="3">
            <MudPaper Outlined="true" Class="pa-4">
                <MudLink Href="/sample-full-size-split">Split Layout Demo</MudLink>
                <MudText Typo="Typo.body2">Explorer with a split panel and details pane, filling the available application space.</MudText>
            </MudPaper>
            <MudPaper Outlined="true" Class="pa-4">
                <MudLink Href="/sample-full-size">Full Height Demo</MudLink>
                <MudText Typo="Typo.body2">Explorer only, still full-height, for testing the component without a neighboring panel.</MudText>
            </MudPaper>
            <MudPaper Outlined="true" Class="pa-4">
                <MudLink Href="/sample-simple">Scroll Page Demo</MudLink>
                <MudText Typo="Typo.body2">A normal document-style page with content above and below a fixed-height explorer.</MudText>
            </MudPaper>
        </MudStack>
    </MudPaper>
</MudStack>
